Repository aequinox/gesundes-leben: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run check'

.lintstagedrc.json:

{
  "*.{ts,js,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json,yaml,yml}": [
    "prettier --write"
  ],
  "*.ts": [
    "bash -c 'bun run check'"
  ]
}

fix(build): resolve memory issues and circular dependencies
  package.json
  src/components/types/callToAction.ts
  src/components/types/features.ts
  src/components/types/grid.ts
  src/components/types/headline.ts
  src/components/types/item.ts
  src/components/types/widget.ts
  tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(components): resolve pro group mapping in BlogFilter
  src/components/filter/BlogFilter.astro
Due: eslint --fix, prettier --write

chore(build): add GitHub Pages deployment script to package.json
  package.json
Due: prettier --write

fix(components): resolve BlogFilter initialization on view transitions
  src/components/filter/BlogFilter.astro
  src/utils/logger.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

feat(scripts): add comprehensive WordPress XML to Astro MDX converter
  bun.lock
  package-lock.json
  package.json
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-01.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-02.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-03.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-hero.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/index.mdx
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/Depositphotos_97583692.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/Teabag-Plastic-Header.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_1.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_2.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_3.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_4-1.png
  src/scripts/wp-to-mdx/index.ts
  src/scripts/wp-to-mdx/logger.ts
  src/scripts/wp-to-mdx/mapper.ts
  src/scripts/wp-to-mdx/parser.ts
  src/scripts/wp-to-mdx/translator.ts
  src/scripts/wp-to-mdx/types.ts
  src/scripts/wp-to-mdx/validator.ts
  src/scripts/wp-to-mdx/writer.ts
  xml/gesundheitintbingen.WordPress.2025-04-01.xml
Due: eslint --fix, prettier --write, bash -c 'bun run check'

feat(scripts): enhance WordPress to MDX converter with JSX images
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-01.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-02.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-03.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/images/03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-hero.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit-backup-1753102547359/index.mdx
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/index.mdx
  src/scripts/wp-to-mdx/README.md
  src/scripts/wp-to-mdx/index.ts
  src/scripts/wp-to-mdx/logger.ts
  src/scripts/wp-to-mdx/mapper.ts
  src/scripts/wp-to-mdx/parser.ts
  src/scripts/wp-to-mdx/translator.ts
  src/scripts/wp-to-mdx/types.ts
  src/scripts/wp-to-mdx/validator.ts
  src/scripts/wp-to-mdx/writer.ts
  src/types/turndown-plugin-gfm.d.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(scripts): implement alternating left/right image positioning
  src/scripts/wp-to-mdx/translator.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

feat(quality): enhance codebase with comprehensive quality improvements
  README.md
  bun.lock
  eslint.config.js
  package.json
  src/scripts/wp-to-mdx/logger.ts
  src/types/index.ts
  src/utils/error-handling/error-boundary-utils.ts
  src/utils/performance/performance-monitor.ts
  src/utils/validation/form-validation.ts
  tests/setup/component-setup.ts
  tests/setup/health-setup.ts
  tests/setup/integration-setup.ts
  tsconfig.json
  tsconfig.tsbuildinfo
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(build): resolve critical build failures and configuration issues
  eslint.config.js
  src/components/elements/Button.astro
  src/components/elements/H1.astro
  src/components/elements/H2.astro
  src/components/elements/H3.astro
  src/components/elements/H4.astro
  src/components/elements/H5.astro
  src/components/elements/H6.astro
  src/pages/rss.xml.ts
  src/scripts/wp-to-mdx/mapper.ts
  src/utils/error-handling/error-boundary-utils.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(lint): resolve remaining ESLint warnings
  src/pages/rss.xml.ts
  src/utils/error-handling/error-boundary-utils.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(pre-commit): resolve pre-commit hook requirements and TypeScript issues
  .lintstagedrc.json
  src/components/elements/ResponsiveImage.astro
  src/components/partials/EnhancedHead.astro
  src/components/seo/SEO.example.astro
  src/types/index.ts
  tests/mocks/astro-mocks.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

clean: remove commented import statements from Glossary layout
  src/layouts/Glossary.astro
Due: eslint --fix, prettier --write

refactor: comprehensive codebase cleanup and optimization
  src/assets/images/forrest-gump-quote.png
  src/components/elements/H.astro
  src/components/elements/ResponsiveImage.astro
  src/components/seo/SEO.example.astro
  src/pages/image-test.astro
  src/pages/rss.xml.ts
  src/utils/componentFactory.ts
  src/utils/posts.ts
  tests/components/component-setup.ts
  tests/integration/integration-setup.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

feat: comprehensive SEO enhancement for German health content
  .prettierrc.mjs
  SEO_IMPROVEMENTS_SUMMARY.md
  astro.config.ts
  bun.lock
  package.json
  src/components/seo/BreadcrumbSchema.astro
  src/components/seo/HealthArticleSchema.astro
  src/components/seo/README.md
  src/components/seo/SEO.astro
  src/components/seo/WebsiteSchema.astro
  src/components/seo/__tests__/SEO.test.ts
  src/components/seo/index.ts
  src/components/seo/types.ts
  src/components/types/base.ts
  src/config.ts
  src/config/i18n.ts
  src/config/seo.ts
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/pages/rss.xml.ts
  src/utils/componentFactory.ts
  src/utils/posts.ts
  src/utils/propValidation.ts
  src/utils/seo/enhanced-sitemap.ts
  src/utils/seo/german-seo-optimization.ts
  src/utils/seo/performance-optimization.ts
  src/utils/seo/seo-audit.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix: add UTF-8 charset meta tag to resolve German character encoding
  .editorconfig
  src/components/seo/SEO.astro
Due: eslint --fix, prettier --write

chore: add .editorconfig for consistent coding styles
  .editorconfig
Due: none

feat(seo): comprehensive SEO and schema enhancement
  SEO_IMPROVEMENTS_SUMMARY.md
  astro.config.ts
  bun.lock
  package.json
  src/components/seo/BreadcrumbSchema.astro
  src/components/seo/HealthArticleSchema.astro
  src/components/seo/SEO.astro
  src/components/seo/WebsiteSchema.astro
  src/components/seo/index.ts
  src/components/seo/types.ts
  src/components/types/base.ts
  src/config.ts
  src/config/i18n.ts
  src/config/seo.ts
  src/layouts/Layout.astro
  src/layouts/PostDetails.astro
  src/utils/propValidation.ts
  src/utils/seo/enhanced-sitemap.ts
  src/utils/seo/german-seo-optimization.ts
  src/utils/seo/performance-optimization.ts
  src/utils/seo/seo-audit.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(seo): ensure userAgent is always a string in RobotPolicy
  src/config/seo.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(List.astro): remove prose class to prevent conflicting styles
  src/components/sections/List.astro
Due: eslint --fix, prettier --write

chore: fix code formatting and linting issues
  src/components/elements/button/ButtonClassBuilder.ts
  src/components/seo/README.md
  src/components/seo/__tests__/SEO.test.ts
  src/config/seo.ts
  src/content.config.ts
  src/i18n/utils.ts
  src/pages/og.png.ts
  src/pages/posts/[...slug].png.ts
  src/plugins/rehypePlugins/index.ts
  src/plugins/remarkPlugins/index.ts
  src/plugins/remarkPlugins/remark-hashtag.ts
  src/utils/__tests__/date-100-coverage.test.ts
  src/utils/__tests__/date.test.ts
  src/utils/__tests__/designSystem.test.ts
  src/utils/__tests__/extractUniqueTags.test.ts
  src/utils/__tests__/final-100-coverage.test.ts
  src/utils/__tests__/logger.test.ts
  src/utils/__tests__/slugs-100-coverage.test.ts
  src/utils/__tests__/slugs.test.ts
  src/utils/__tests__/tags.test.ts
  src/utils/__tests__/validation-edge-cases.test.ts
  src/utils/__tests__/validation.test.ts
  src/utils/authors.ts
  src/utils/generateOgImages.ts
  src/utils/getPath.ts
  src/utils/og-templates/post.js
  src/utils/og-templates/site.js
  src/utils/postFilter.ts
  src/utils/slugs.ts
  src/utils/tags.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, bash -c 'bun run check'

style(layout): increase main container and content width
  src/components/sections/List.astro
  src/layouts/Main.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

fix(ui): resolve TOC sidebar progress indicator visibility and overflow issues
  src/components/partials/ArticleSidebar.astro
  src/utils/ui/TableOfContentsEngine.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(ui): ensure top progress indicator stays above navbar
  src/components/partials/ArticleProgressBar.astro
Due: eslint --fix, prettier --write

fix(scripts): resolve forEach undefined errors in WordPress converter
  src/scripts/wp-to-mdx/mapper.ts
  src/scripts/wp-to-mdx/writer.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(scripts): enhance WordPress mapper with TypeScript compliance
  src/scripts/wp-to-mdx/mapper.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

feat(wp-to-mdx): add comprehensive Visionati AI integration for German health content
  src/scripts/wp-to-mdx/README.md
  src/scripts/wp-to-mdx/__tests__/visionati-analyzer.test.ts
  src/scripts/wp-to-mdx/config.ts
  src/scripts/wp-to-mdx/index.ts
  src/scripts/wp-to-mdx/processors.ts
  src/scripts/wp-to-mdx/translator.ts
  src/scripts/wp-to-mdx/types.ts
  src/scripts/wp-to-mdx/visionati-analyzer.ts
  src/scripts/wp-to-mdx/visionati-cache.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

chore(deps): add environment variable support for Visionati API
  .gitignore
  bun.lock
  package.json
Due: prettier --write

chore(config): enhance EditorConfig and clean up ignore files
  .editorconfig
  .gitignore
Due: none

chore(config): improve code quality with linting and formatting fixes
  .lintstagedrc.json
  src/types/index.ts
  src/utils/componentFactory.ts
  src/utils/safeRender.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

fix(config): resolve Prettier ESLint import formatting conflicts
  .lintstagedrc.json
  .prettierrc.mjs
  astro.config.ts
  bun.lock
  package.json
  src/components/elements/button/ButtonClassBuilder.ts
  src/components/partials/Head.astro
  src/config/seo.ts
  src/content.config.ts
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/index.mdx
  src/i18n/utils.ts
  src/layouts/AuthorPosts.astro
  src/layouts/Layout.astro
  src/pages/imprint.astro
  src/pages/search.astro
  src/pages/tags/index.astro
  src/scripts/wp-to-mdx/image-downloader.ts
  src/scripts/wp-to-mdx/index.ts
  src/scripts/wp-to-mdx/visionati-analyzer.ts
  src/utils/__tests__/designSystem.test.ts
  src/utils/__tests__/logger.test.ts
  src/utils/componentFactory.ts
  src/utils/og-templates/post.js
  src/utils/og-templates/site.js
  src/utils/propValidation.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

chore(scripts): remove wp-to-mdx converter after project completion
  src/scripts/wp-to-mdx/README.md
  src/scripts/wp-to-mdx/__tests__/visionati-analyzer.test.ts
  src/scripts/wp-to-mdx/config.ts
  src/scripts/wp-to-mdx/errors.ts
  src/scripts/wp-to-mdx/example.ts
  src/scripts/wp-to-mdx/image-downloader.ts
  src/scripts/wp-to-mdx/index.ts
  src/scripts/wp-to-mdx/logger.ts
  src/scripts/wp-to-mdx/mapper.ts
  src/scripts/wp-to-mdx/parser.ts
  src/scripts/wp-to-mdx/processors.ts
  src/scripts/wp-to-mdx/security.ts
  src/scripts/wp-to-mdx/translator.ts
  src/scripts/wp-to-mdx/types.ts
  src/scripts/wp-to-mdx/validator.ts
  src/scripts/wp-to-mdx/visionati-analyzer.ts
  src/scripts/wp-to-mdx/visionati-cache.ts
  src/scripts/wp-to-mdx/writer.ts
Due: eslint --fix, prettier --write, bash -c 'bun run check'

feat(scripts): add WordPress XML to MDX converter for blog content
  scripts/xml2markdown/README.md
  scripts/xml2markdown/index.js
  scripts/xml2markdown/package.json
  scripts/xml2markdown/src/errors.js
  scripts/xml2markdown/src/frontmatter/author.js
  scripts/xml2markdown/src/frontmatter/categories.js
  scripts/xml2markdown/src/frontmatter/coverImage.js
  scripts/xml2markdown/src/frontmatter/date.js
  scripts/xml2markdown/src/frontmatter/draft.js
  scripts/xml2markdown/src/frontmatter/example.js
  scripts/xml2markdown/src/frontmatter/excerpt.js
  scripts/xml2markdown/src/frontmatter/featured.js
  scripts/xml2markdown/src/frontmatter/id.js
  scripts/xml2markdown/src/frontmatter/modDatetime.js
  scripts/xml2markdown/src/frontmatter/pubDatetime.js
  scripts/xml2markdown/src/frontmatter/slug.js
  scripts/xml2markdown/src/frontmatter/tags.js
  scripts/xml2markdown/src/frontmatter/taxonomy.js
  scripts/xml2markdown/src/frontmatter/title.js
  scripts/xml2markdown/src/frontmatter/type.js
  scripts/xml2markdown/src/frontmatter/utils/dateFormatter.js
  scripts/xml2markdown/src/logger.js
  scripts/xml2markdown/src/parser.js
  scripts/xml2markdown/src/settings.js
  scripts/xml2markdown/src/shared.js
  scripts/xml2markdown/src/translator.js
  scripts/xml2markdown/src/wizard.js
  scripts/xml2markdown/src/writer.js
Due: eslint --fix, prettier --write

refactor(scripts): convert XML2MDX tool to ES modules + blog schema
  scripts/xml2markdown/index.js
  scripts/xml2markdown/package.json
  scripts/xml2markdown/src/errors.js
  scripts/xml2markdown/src/frontmatter/author.js
  scripts/xml2markdown/src/frontmatter/categories.js
  scripts/xml2markdown/src/frontmatter/coverImage.js
  scripts/xml2markdown/src/frontmatter/draft.js
  scripts/xml2markdown/src/frontmatter/example.js
  scripts/xml2markdown/src/frontmatter/excerpt.js
  scripts/xml2markdown/src/frontmatter/featured.js
  scripts/xml2markdown/src/frontmatter/group.js
  scripts/xml2markdown/src/frontmatter/heroImage.js
  scripts/xml2markdown/src/frontmatter/id.js
  scripts/xml2markdown/src/frontmatter/keywords.js
  scripts/xml2markdown/src/frontmatter/modDatetime.js
  scripts/xml2markdown/src/frontmatter/pubDatetime.js
  scripts/xml2markdown/src/frontmatter/slug.js
  scripts/xml2markdown/src/frontmatter/tags.js
  scripts/xml2markdown/src/frontmatter/taxonomy.js
  scripts/xml2markdown/src/frontmatter/title.js
  scripts/xml2markdown/src/frontmatter/type.js
  scripts/xml2markdown/src/frontmatter/utils/dateFormatter.js
  scripts/xml2markdown/src/logger.js
  scripts/xml2markdown/src/parser.js
  scripts/xml2markdown/src/settings.js
  scripts/xml2markdown/src/shared.js
  scripts/xml2markdown/src/translator.js
  scripts/xml2markdown/src/wizard.js
  scripts/xml2markdown/src/writer.js
Due: eslint --fix, prettier --write

feat(scripts): enhance XML to MDX converter with ES modules and docs
  scripts/xml2markdown/README.md
  scripts/xml2markdown/src/frontmatter/date.js
  scripts/xml2markdown/src/frontmatter/modDatetime.js
  scripts/xml2markdown/src/frontmatter/pubDatetime.js
  scripts/xml2markdown/src/frontmatter/utils/dateFormatter.js
  scripts/xml2markdown/src/parser.js
  scripts/xml2markdown/src/writer.js
Due: eslint --fix, prettier --write

feat(scripts): add figure to Image component conversion
  scripts/xml2markdown/README.md
  scripts/xml2markdown/src/parser.js
  scripts/xml2markdown/src/translator.js
  scripts/xml2markdown/src/writer.js
Due: eslint --fix, prettier --write

chore(scripts): clean up XML converter test artifacts
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/Depositphotos_97583692.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/Teabag-Plastic-Header.jpg
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_1.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_2.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_3.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/images/mikroplastik_4-1.png
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/index.mdx
Due: none
