Repository aequinox/gesundes-leben: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json,yaml,yml}": [
    "prettier --write"
  ]
}

chore: remove CI workflows and update site configuration
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/✨-feature-request.md
  .github/ISSUE_TEMPLATE/🐞-bug-report.md
  .github/ISSUE_TEMPLATE/📝-documentation-improvement.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  src/config.ts
  src/socials.ts
Due: eslint --fix, prettier --write

Fix: Astro routing 403 error by setting trailingSlash to 'never'
  astro.config.ts
Due: eslint --fix, prettier --write

Commit all remaining changes
  API_REFERENCE.md
  ARCHITECTURE.md
  AstroPaper-lighthouse-score.svg
  E2E_TESTING_SUMMARY.md
  FINAL_REFERENCE_AUDIT_REPORT.md
  PROJECT_INDEX.md
  REFERENCE_VALIDATION_REPORT.md
  SEO_IMPROVEMENTS_SUMMARY.md
Due: prettier --write

docs: add comprehensive code improvement plan (TODOS.md)
  TODOS.md
Due: prettier --write

docs: add detailed codebase analysis report
  CODEBASE-ANALYSIS-REPORT.md
Due: prettier --write

fix: Complete P0 critical priority fixes from TODOS.md
  src/components/elements/Button.astro
  src/components/elements/ContextualLinks.astro
  src/components/elements/H2.astro
  src/components/elements/InternalLink.astro
  src/components/elements/button/ButtonContent.astro
  src/components/sections/TopicCluster.astro
Due: eslint --fix, prettier --write

feat: Consolidate image components and enhance Image.astro
  docs/image-component-analysis.md
  src/components/elements/Image.astro
  src/components/elements/ResponsiveImage.astro
  src/components/elements/VisionImage.astro
  src/pages/about.astro
  src/pages/our-vision.astro
Due: eslint --fix, prettier --write

docs: Update TODOS.md with completed tasks tracking
  TODOS.md
Due: prettier --write

refactor: rename workspace file to German naming convention
  gesundes-leben.code-workspace
Due: none

test: Add comprehensive unit tests for Button component (85 tests)
  TODOS.md
  src/components/elements/button/__tests__/ButtonClassBuilder.test.ts
  src/components/elements/button/__tests__/ButtonVariants.test.ts
Due: eslint --fix, prettier --write

refactor: Create consolidated linking utilities foundation (Task #5 - Phase 1)
  src/utils/linking/__tests__/core.test.ts
  src/utils/linking/core.ts
  src/utils/linking/helpers.ts
  src/utils/linking/index.ts
  src/utils/linking/scoring.ts
  src/utils/linking/types.ts
Due: eslint --fix, prettier --write

docs: Update TODOS.md with Task #5 Phase 1 completion
  TODOS.md
Due: prettier --write

chore: Add package-lock.json from npm install
  package-lock.json
Due: prettier --write

chore: Update project dependencies to latest versions
  bun.lock
  package.json
Due: prettier --write

fix: Add missing Header component to Layout.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

refactor: Use shared linking utilities in glossary-linking.ts
  src/utils/glossary-linking.ts
Due: eslint --fix, prettier --write

feat: Create unified link analytics service
  src/utils/linking/analytics.ts
  src/utils/linking/index.ts
Due: eslint --fix, prettier --write

docs: Update TODOS.md with Task #5 Phase 2 progress
  TODOS.md
Due: prettier --write

config: Change URL trailing slash strategy to 'always'
  astro.config.ts
Due: eslint --fix, prettier --write

feat: Complete Task #5 Phase 2 - Internal Linking Consolidation
  TODOS.md
  src/utils/internal-linking.ts
  src/utils/linking/__tests__/integration.test.ts
Due: eslint --fix, prettier --write

feat: Complete Task #6 - SEO Schema Components Refactoring
  TODOS.md
  src/components/seo/BreadcrumbSchema.astro
  src/components/seo/HealthArticleSchema.astro
  src/components/seo/SEO.astro
  src/components/seo/WebsiteSchema.astro
  src/utils/seo/SchemaBuilder.ts
  src/utils/seo/__tests__/SchemaBuilder.test.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive senior developer code analysis to TODOS.md
  TODOS.md
Due: prettier --write

feat: Complete Sprint 2 & 3 refactoring tasks
  CLAUDE.md
  TODOS.md
  src/components/elements/ContextualLinks.astro
  src/components/elements/InternalLink.astro
  src/config.ts
  src/config/seo.ts
  src/layouts/PostDetails.astro
  src/utils/generateOgImages.ts
  src/utils/posts.ts
  src/utils/slugs.ts
  src/utils/ui/designSystem.ts
Due: eslint --fix, prettier --write

feat: Complete Image.astro refactoring and code quality improvements
  TODOS.md
  package-lock.json
  src/components/elements/ContextualLinks.astro
  src/components/elements/Image.astro
  src/components/sections/Navigation.astro
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/index.mdx
  src/data/blog/2025-05-06-top-entzuendungshemmende-lebensmittel/index.mdx
  src/styles/typography.css
  src/utils/image/constants.ts
  src/utils/image/index.ts
  src/utils/image/transforms.ts
  src/utils/image/validation.ts
  src/utils/internal-linking.ts
  src/utils/link-analytics.ts
  src/utils/linking/analytics.ts
  src/utils/linking/helpers.ts
  src/utils/linking/scoring.ts
  src/utils/references.ts
  src/utils/seo/SchemaBuilder.ts
  src/utils/seo/seo-audit.ts
  src/utils/slugs.ts
  src/utils/ui/TableOfContentsEngine.ts
Due: eslint --fix, prettier --write

feat: Complete Sprint 4 tasks - ADRs and code quality improvements
  TODOS.md
  docs/adr/0001-schema-builder-utility.md
  docs/adr/0002-component-composition-pattern.md
  docs/adr/0003-reference-caching-architecture.md
  docs/adr/0004-logging-abstraction.md
  docs/adr/0005-content-collections-structure.md
  docs/adr/README.md
  src/components/sections/Navigation.astro
  src/layouts/Layout.astro
  src/utils/glossary-linking.ts
  src/utils/internal-linking.ts
  src/utils/linking/analytics.ts
  src/utils/linking/core.ts
  src/utils/linking/helpers.ts
  src/utils/linking/types.ts
  src/utils/posts.ts
  src/utils/viewTransitionEnhancements.ts
  src/utils/viewTransitions/preloader.ts
Due: eslint --fix, prettier --write

chore: remove unused @types/uuid dependency
  bun.lock
  package.json
Due: prettier --write

feat: Add comprehensive SEO & Performance improvement plan
  TODOS.md
Due: prettier --write

docs: Add detailed performance analysis report
  PERFORMANCE_ANALYSIS.md
Due: prettier --write

docs: Update performance docs with Astro-native optimizations
  PERFORMANCE_ANALYSIS.md
  TODOS.md
Due: prettier --write

feat: Add PWA support and performance optimization tools
  PACKAGE_ANALYSIS.md
  PWA_IMPLEMENTATION.md
  astro.config.ts
  bun.lock
  package.json
Due: eslint --fix, prettier --write

feat: Implement performance optimizations and SEO enhancements
  IMPLEMENTATION_SUMMARY.md
  TODOS.md
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/pwa-192x192.png
  public/pwa-512x512.png
  scripts/generate-pwa-icons.js
  src/components/Pagination.astro
  src/components/filter/BlogFilter.astro
  src/components/sections/Card.astro
  src/components/seo/SEO.astro
  src/middleware.ts
  src/pages/404.astro
  src/utils/posts.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive A+ UX/UI improvement plan
  UIX_IMPROVEMENTS.md
Due: prettier --write

feat(uix): Implement P0-P1 accessibility and typography improvements
  UIX_TODOS.md
  src/components/elements/H.astro
  src/layouts/Layout.astro
  src/styles/color-system.css
  src/styles/global.css
  src/styles/typography.css
Due: eslint --fix, prettier --write

feat(uix): Complete P1 card animation refinement with touch optimization
  UIX_TODOS.md
  src/components/sections/Card.astro
Due: eslint --fix, prettier --write

docs(uix): Update progress summary - P0 & P1 complete (50%)
  UIX_TODOS.md
Due: prettier --write

feat(uix): Complete P2 polish & optimization improvements (80% total progress)
  UIX_TODOS.md
  src/components/sections/CardSkeleton.astro
  src/styles/global.css
  src/styles/typography.css
Due: eslint --fix, prettier --write

feat(uix): Complete P3 advanced features - 100% PROJECT COMPLETE 🎉
  UIX_TODOS.md
  src/components/sections/BottomNav.astro
  src/components/sections/Card.astro
  src/components/sections/CardSkeleton.astro
  src/layouts/Layout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

feat(uix): Complete all secondary improvements - 18/18 tasks (100%)
  UIX_TODOS.md
  src/components/sections/Card.astro
  src/components/sections/MegaMenu.astro
  src/components/sections/Navigation.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat(pwa): Add offline fallback page - Complete PWA implementation
  IMPLEMENTATION_SUMMARY.md
  TODOS.md
  src/pages/offline.astro
Due: eslint --fix, prettier --write
