Repository aequinox/gesundes-leben: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(uix): Complete final UIX integrations - MegaMenu & CardSkeleton
  UIX_TODOS.md
  src/components/sections/Navigation.astro
Due: eslint --fix, prettier --write

docs: Clean up redundant markdown documentation
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/archived/CODEBASE-ANALYSIS-REPORT.md
  docs/archived/PACKAGE_ANALYSIS.md
  docs/archived/blog-content-audit-report.md
  docs/component-quick-reference.md
  docs/component-style-guide.md
  docs/internal-linking-implementation-guide.md
Due: prettier --write

docs(wp2mdx): Add comprehensive comparison with TypeScript version
  scripts/wp2mdx/COMPARISON.md
Due: prettier --write

docs(wp2mdx): Add quick start guide
  scripts/wp2mdx/QUICKSTART.md
Due: prettier --write

refactor: Elevate component system to A+ level with 5 new components
  docs/component-refactoring-guide.md
  src/components/elements/BadgeGroup.astro
  src/components/elements/SectionHeading.astro
  src/components/layout/ContentGrid.astro
  src/components/layout/SectionContainer.astro
  src/components/sections/Card.astro
  src/components/sections/List.astro
  src/components/sections/ListColumn.astro
  src/components/sections/Navigation.astro
  src/pages/index.astro
  src/utils/controllers/NavigationController.ts
Due: eslint --fix, prettier --write

refactor: Eliminate code duplication and improve maintainability in layouts and pages
  src/components/elements/ArrowIcon.astro
  src/components/search/SearchContainer.astro
  src/components/search/SearchKeyboardShortcuts.astro
  src/components/search/SearchLoadingSkeleton.astro
  src/layouts/BasePage.astro
  src/layouts/ContentPageLayout.astro
  src/layouts/ListingPageLayout.astro
  src/pages/about.astro
  src/pages/author/index.astro
  src/pages/categories.astro
  src/pages/search.astro
  src/pages/search.astro.backup
  src/pages/tags/index.astro
  src/utils/search/searchConfig.ts
Due: eslint --fix, prettier --write

fix: Prevent empty icon name error in Card component
  src/components/sections/Card.astro
Due: eslint --fix, prettier --write

fix: resolve view transition CSS warnings and improve icon handling
  astro.config.ts
  src/components/ShareLinks.astro
  src/components/elements/Badge.astro
  src/components/elements/button/ButtonContent.astro
  src/components/elements/button/ButtonIcon.astro
  src/components/sections/BottomNav.astro
  src/styles/view-transitions.css
Due: eslint --fix, prettier --write

fix: Replace invalid icon reference with proper Tabler icon
  src/components/elements/ContextualLinks.astro
Due: eslint --fix, prettier --write

fix: Prevent Icon rendering with empty string in ItemGrid
  src/components/sections/ItemGrid.astro
Due: eslint --fix, prettier --write

fix: Add defensive check for icon rendering in Card component
  src/components/sections/Card.astro
Due: eslint --fix, prettier --write

fix: Add missing tabler: prefix to icon names in Navigation
  src/components/sections/Navigation.astro
Due: eslint --fix, prettier --write

feat: comprehensive codebase analysis and type safety improvements
  ANALYSIS_SUMMARY.md
  CODEBASE_ANALYSIS.md
  IMPROVEMENT_PLAN.md
  src/utils/propValidation.ts
Due: eslint --fix, prettier --write

feat: eliminate all 'any' type assertions - Phase 1 complete
  src/utils/__tests__/authors.test.ts
  src/utils/__tests__/performance.lazy-loading.test.ts
  src/utils/__tests__/posts.test.ts
  src/utils/__tests__/safeRender.test.ts
  src/utils/__tests__/slugs.test.ts
  src/utils/__tests__/tags.test.ts
  src/utils/__tests__/validation.test.ts
  src/utils/references.ts
  src/utils/seo/__tests__/SchemaBuilder.test.ts
  src/utils/viewTransitions/init.ts
Due: eslint --fix, prettier --write

docs: update IMPROVEMENT_PLAN.md - Phase 1 completed
  IMPROVEMENT_PLAN.md
Due: prettier --write

refactor: split BlogFilterEngine into 5 modular files
  src/utils/ui/BlogFilterEngine.ts
  src/utils/ui/filter/FilterDOMUpdates.ts
  src/utils/ui/filter/FilterEventHandlers.ts
  src/utils/ui/filter/FilterState.ts
  src/utils/ui/filter/FilterUI.ts
  src/utils/ui/filter/FilterVisibility.ts
Due: eslint --fix, prettier --write

docs: update IMPROVEMENT_PLAN.md - BlogFilterEngine refactoring complete
  IMPROVEMENT_PLAN.md
Due: prettier --write

feat: Phase 4.1 - Eliminate code duplication
  IMPROVEMENT_PLAN.md
  src/types/componentProps.ts
  src/utils/error-handling/index.ts
  src/utils/error-handling/shared.ts
  src/utils/internal-linking.ts
  src/utils/posts.ts
  src/utils/references.ts
Due: eslint --fix, prettier --write

feat: Phase 4.2 & 4.3 - Performance Optimization & Documentation
  IMPROVEMENT_PLAN.md
  docs/performance-optimization-report.md
  package.json
Due: prettier --write

fix: use undefined instead of empty string for optional icon prop
  src/components/elements/ContextualLinks.astro
Due: eslint --fix, prettier --write

fix: add explicit undefined to InternalLink optional props for TS strict mode
  src/components/elements/InternalLink.astro
Due: eslint --fix, prettier --write

fix: Add comprehensive guards for empty icon strings in Icon components
  astro.config.ts
  src/components/elements/SectionHeading.astro
  src/components/elements/button/ButtonIcon.astro
  src/components/filter/BlogFilter.astro
  src/components/partials/Datetime.astro
  src/components/sections/Accordion.astro
  src/components/sections/Card.astro
  src/components/sections/ItemGrid.astro
  src/components/socials/Socials.astro
  src/icons/.gitkeep
Due: eslint --fix, prettier --write

fix: Add guard to Icon.astro wrapper to prevent undefined icon names
  src/components/elements/Icon.astro
Due: eslint --fix, prettier --write

chore: Simplify ESLint ignore patterns for scripts directory
  eslint.config.js
Due: eslint --fix, prettier --write

chore: Add lint:fix script for automated ESLint fixes
  package.json
Due: prettier --write

fix: Resolve critical ESLint violations and functional issues
  src/pages/categories/[category]/[...page].astro
  src/pages/imprint.astro
  src/pages/index.astro
  src/pages/offline.astro
  src/utils/categories.ts
  src/utils/error-handling/shared.ts
  src/utils/index.ts
  src/utils/references.ts
  src/utils/safeRender.ts
  src/utils/seo/SchemaBuilder.ts
  src/utils/seo/__tests__/SchemaBuilder.test.ts
  src/utils/ui/filter/FilterEventHandlers.ts
  src/utils/ui/filter/FilterUI.ts
  src/utils/validation/form-validation.ts
  src/utils/viewTransitions/enhancer.ts
Due: eslint --fix, prettier --write

refactor: Replace logical OR with nullish coalescing operators
  src/config/i18n.ts
  src/utils/__tests__/performance.lazy-loading.test.ts
  src/utils/authors.ts
  src/utils/error-handling/shared.ts
  src/utils/internal-linking.ts
  src/utils/linking/core.ts
  src/utils/linking/scoring.ts
  src/utils/performance/lazy-loading.ts
  src/utils/posts.ts
  src/utils/seo/SchemaBuilder.ts
  src/utils/seo/enhanced-sitemap.ts
  src/utils/seo/performance-optimization.ts
  src/utils/seo/seo-audit.ts
  src/utils/tags.ts
  src/utils/validation/form-validation.ts
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/features/german-language-support.spec.ts
  tests/e2e/features/search-interactions.spec.ts
  tests/e2e/features/theme-toggle.spec.ts
  tests/e2e/integration/edge-cases.spec.ts
  tests/e2e/integration/rss-feed.spec.ts
  tests/e2e/pages/author.spec.ts
  tests/e2e/pages/blog-post.spec.ts
  tests/e2e/pages/categories.spec.ts
  tests/e2e/pages/glossary.spec.ts
  tests/e2e/pages/search.spec.ts
  tests/e2e/performance/core-web-vitals.spec.ts
  tests/e2e/performance/image-optimization.spec.ts
  tests/matchers/health-matchers.ts
  tests/mocks/astro-mocks.ts
  tests/utils/health-test-helpers.ts
Due: eslint --fix, prettier --write

fix: Add missing PWA manifest file to resolve 404 errors
  public/manifest.webmanifest
Due: none

config: Adjust ESLint max-lines limits to more pragmatic values
  eslint.config.js
Due: eslint --fix, prettier --write

fix: Resolve TypeScript exactOptionalPropertyTypes error in Card component
  src/components/sections/Card.astro
  src/pages/imprint.astro
Due: eslint --fix, prettier --write

fix: Correct category navigation paths in MegaMenu
  src/components/sections/MegaMenu.astro
Due: eslint --fix, prettier --write

fix: Correct 'Lifestyle & Psyche' category navigation slug
  src/components/sections/MegaMenu.astro
Due: eslint --fix, prettier --write

feat: Add meaningful category descriptions with proper i18n support
  src/i18n/ui.ts
  src/pages/categories/[category]/[...page].astro
Due: eslint --fix, prettier --write

chore: Update dependencies and clean up backup files
  bun.lock
  package.json
  src/pages/search.astro.backup
Due: prettier --write

fix: Move categories.astro to categories/index.astro to resolve routing conflict
  src/pages/categories/index.astro
Due: eslint --fix, prettier --write

feat: Enhance categories overview page and fix breadcrumb display
  src/components/Breadcrumb.astro
  src/components/seo/BreadcrumbSchema.astro
  src/pages/categories/index.astro
Due: eslint --fix, prettier --write

chore: Update package-lock.json after dependency installation
  package-lock.json
Due: prettier --write

fix: Add trailing slashes to breadcrumb URLs to prevent 404 errors
  src/components/Breadcrumb.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,astro}
  prettier --write: (any of: *.{ts,js,astro}) or (any of: *.{md,json,yaml,yml})
