Repository aequinox/gesundes-leben: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json,yaml,yml}": [
    "prettier --write"
  ]
}

feat: implement comprehensive search indexing with scientific reference support
  src/components/partials/ArticleContent.astro
  src/components/partials/ArticleFooter.astro
  src/components/partials/ArticleHeader.astro
  src/components/partials/References.astro
  src/config/i18n.ts
  src/layouts/Glossary.astro
  src/layouts/PostDetails.astro
  src/pages/search.astro
Due: eslint --fix, prettier --write

feat: comprehensive code quality improvements and performance optimizations
  astro.config.ts
  src/components/partials/ArticleSidebar.astro
  src/utils/__tests__/componentFactory.test.ts
  src/utils/__tests__/performance.lazy-loading.test.ts
  src/utils/__tests__/propValidation.test.ts
  src/utils/__tests__/safeRender.test.ts
  src/utils/componentFactory.ts
  src/utils/index.ts
  src/utils/performance/lazy-loading.ts
  tests/e2e/utils/test-helpers.ts
Due: eslint --fix, prettier --write

feat: comprehensive component enhancement and image optimization across blog
  CLAUDE.md
  docs/component-implementation-report.md
  docs/component-quick-reference.md
  docs/component-style-guide.md
  src/data/blog/2022-02-19-das-schlafhormon-melatonin/index.mdx
  src/data/blog/2022-03-11-mikronaehrstoffraeuber-die-pille/index.mdx
  src/data/blog/2022-05-25-der-teufelskreis-der-saeureblocker/index.mdx
  src/data/blog/2022-09-09-ernaehrungsumstellung/index.mdx
  src/data/blog/2022-11-25-8-superfoods-reloaded/index.mdx
  src/data/blog/2022-11-28-must-have-omega-3/index.mdx
  src/data/blog/2023-01-15-7-warnzeichen-fuer-vitamin-b12-mangel/index.mdx
  src/data/blog/2023-08-24-mikronaehrstoffe-immunsystem-booster/index.mdx
  src/data/blog/2024-01-26-vitamin-c-mangel-die-rueckkehr-des-skorbuts/index.mdx
  src/data/blog/2024-03-15-intermittierendes-fasten/index.mdx
  src/data/blog/2024-03-28-ernahrung-und-stuhlgang/index.mdx
  src/data/blog/2024-04-19-lesenswert-die-1-methode-minimale-veraenderung-maximale-wirkung/index.mdx
  src/data/blog/2024-04-26-10-strategien-um-negative-gedanken-zu-stoppen/index.mdx
  src/data/blog/2024-05-05-top-5-untersuchungen-und-laborwerte-fuer-deinen-gesundheits-tuev/index.mdx
  src/data/blog/2024-06-20-8-anzeichen-fuer-geringen-selbstwert/index.mdx
  src/data/blog/2024-07-05-vergebung-verstehen/index.mdx
  src/data/blog/2024-07-17-die-koerperlichkeit-der-depression/index.mdx
  src/data/blog/2025-02-02-bindungstheorie-und-bindungsstile-nach-bowlby-ainsworth/index.mdx
  src/data/blog/2025-02-10-18-warnzeichen-fuer-naehrstoffmangel/index.mdx
Due: prettier --write

feat: implement comprehensive references management system with enhanced tooling
  docs/references-system.md
  eslint.config.js
  package.json
  scripts/manage-references.ts
  scripts/validate-links.ts
  scripts/validate-references.ts
  scripts/xml2markdown/src/frontmatter/example.ts
  src/templates/references/README.md
  src/templates/references/book.yaml
  src/templates/references/journal.yaml
  src/templates/references/website.yaml
  src/utils/linkValidator.ts
  src/utils/referenceCache.ts
  src/utils/references.ts
Due: eslint --fix, prettier --write

fix: add fallback mechanism for standalone script execution
  .cache/references/metadata.json
  .cache/references/references:all.json
  src/utils/references.ts
Due: eslint --fix, prettier --write

refactor: consolidate references system and improve documentation layout
  CLAUDE.md
  docs/frontmatter-best-practices.md
  src/components/partials/ArticleFooter.astro
  src/components/partials/References.astro
  src/layouts/PostDetails.astro
Due: eslint --fix, prettier --write

feat: make References component fully translatable
  src/components/partials/References.astro
  src/config/i18n.ts
Due: eslint --fix, prettier --write

feat: dramatically improve i18n translation system and component integration
  src/components/partials/References.astro
  src/config/i18n.ts
Due: eslint --fix, prettier --write

fix: resolve reference schema and data type issues
  src/components/partials/References.astro
  src/data/blog/2025-05-15-die-wahrheit-ueber-alkohol/index.mdx
  src/data/references/2016-florenzano-harm-others-alcohol-sociocultural-variables.yaml
  src/data/references/2021-salcido-familism-psychological-wellbeing-latinx-youth.yaml
  src/data/references/2023-vicario-womens-alcohol-consumption-early-parenting.yaml
  src/data/references/2024-rimkeviciene-unravelling-complexity-suicidality-network-analysis.yaml
  src/data/references/2024-rolic-variable-role-diet-related-risk-factors-colorectal-cancer.yaml
  src/layouts/PostDetails.astro
Due: eslint --fix, prettier --write

chore: add reference cache directory to .gitignore
  .gitignore
Due: none

docs: update CLAUDE.md with YAML reference system and enhance References component schema
  CLAUDE.md
  src/components/partials/References.astro
Due: eslint --fix, prettier --write

refactor: modernize References component to use Astro content collections
  src/components/partials/References.astro
Due: eslint --fix, prettier --write

feat: add comprehensive scientific references to microplastics article
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/index.mdx
  src/data/references/2013-lorenza-pfas-mineralwasser-studie.yaml
  src/data/references/2019-hernandez-microplastic-tea-bags-release.yaml
  src/data/references/2020-miller-synthetic-textiles-microfiber-release.yaml
  src/data/references/2021-wang-bpa-release-heated-plastic-bottles.yaml
  src/data/references/2022-oliveira-pvc-exposure-sperm-count-reduction.yaml
  src/data/references/2023-kim-microplastic-particle-uptake-humans.yaml
  src/data/references/2024-garcia-microplastics-human-brain-accumulation.yaml
Due: prettier --write

refactor: modernize testing and component systems
  src/components/partials/References.astro
  src/utils/__tests__/authors.test.ts
  src/utils/__tests__/performance.lazy-loading.test.ts
  src/utils/__tests__/posts.test.ts
  src/utils/__tests__/safeRender.test.ts
  src/utils/componentFactory.ts
  src/utils/ui/AccordionEngine.ts
  src/utils/ui/TableOfContentsEngine.ts
  src/utils/validation.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: add comprehensive reference system to anti-inflammatory foods article
  src/data/blog/2025-05-06-top-entzuendungshemmende-lebensmittel/index.mdx
  src/data/references/2004-johnston-vinegar-insulin-sensitivity.yaml
  src/data/references/2005-altman-ginger-anti-inflammatory.yaml
  src/data/references/2006-fushimi-acetic-acid-cholesterol.yaml
  src/data/references/2007-tipoe-green-tea-cardiovascular.yaml
  src/data/references/2010-lira-endotoxin-sedentary-lifestyle.yaml
  src/data/references/2011-aeberli-sugar-sweetened-beverages-inflammation.yaml
  src/data/references/2012-bosma-inflammatory-diseases-lifestyle.yaml
  src/data/references/2012-spreadbury-acellular-carbohydrates-inflammation.yaml
  src/data/references/2014-vasquez-functional-inflammology.yaml
  src/data/references/2014-vasquez-inflammation-autoimmune-solutions.yaml
  src/data/references/2015-mitrou-vinegar-glucose-uptake-diabetes.yaml
  src/data/references/2015-pruimboom-physical-activity-metabolic-stress.yaml
  src/data/references/2016-oikeh-citrus-juice-antimicrobial.yaml
  src/data/references/2018-ihalainen-aerobic-resistance-training-inflammation.yaml
  src/data/references/2019-choy-flavonoids-nfkb-cardiovascular.yaml
  src/data/references/2020-swann-dietary-fiber-depression-inflammation.yaml
  src/data/references/2020-zimmermann-cocoa-chocolate-health.yaml
  src/data/references/2021-denaro-citrus-flavanones-antioxidant.yaml
  src/data/references/2021-wagenaar-dietary-interventions-microbiome.yaml
  src/data/references/2022-ma-sugar-inflammation-accomplice.yaml
  src/data/references/2022-zhang-gut-microbiome-fiber-inflammation.yaml
Due: prettier --write

feat: add comprehensive scientific references to depression article
  src/data/blog/2024-07-17-die-koerperlichkeit-der-depression/index.mdx
  src/data/references/1991-cohen-psychological-stress-common-cold.yaml
  src/data/references/2000-babyak-exercise-depression-maintenance.yaml
  src/data/references/2001-ledochowski-fructose-malabsorption-tryptophan.yaml
  src/data/references/2002-kroenke-phq15-somatic-symptoms.yaml
  src/data/references/2005-marqueling-isotretinoin-depression-review.yaml
  src/data/references/2005-moncrieff-antidepressant-efficacy-adults.yaml
  src/data/references/2007-berk-vitamin-d-depression-role.yaml
  src/data/references/2009-sanchez-villegas-mediterranean-diet-depression.yaml
  src/data/references/2010-sawada-zinc-supplementation-mood.yaml
  src/data/references/2011-fava-antidepressant-tolerance-mechanisms.yaml
  src/data/references/2011-groeber-mikronaehrstoffe-metabolic-tuning.yaml
  src/data/references/2011-verbeek-beta-blockers-depression-review.yaml
  src/data/references/2012-bloch-omega3-depression-meta-analysis.yaml
  src/data/references/2014-walsh-nutrient-power.yaml
  src/data/references/2015-bhat-omega3-depression-review.yaml
  src/data/references/2015-de-koning-vitamin-d-depression-older-adults.yaml
  src/data/references/2015-solati-zinc-bdnf-depression-trial.yaml
  src/data/references/2016-vaziri-vitamin-d-perinatal-depression.yaml
  src/data/references/2017-hertel-oral-contraceptives-hpa-axis.yaml
  src/data/references/2017-li-magnesium-calcium-depression-meta-analysis.yaml
  src/data/references/2017-pinto-sanchez-probiotics-depression-ibs.yaml
  src/data/references/2017-sharma-same-neuropsychiatric-review.yaml
  src/data/references/2019-briggs-vitamin-d-depression-older-adults.yaml
  src/data/references/2020-gostner-tryptophan-metabolism-psychoneuroimmunology.yaml
  src/data/references/2020-noorwali-dietary-factors-depression-review.yaml
  src/data/references/2021-uke-copsy-study-child-mental-health.yaml
  src/data/references/2021-uke-pressemitteilung-kinder-corona-psyche.yaml
  src/data/references/2023-lai-interferon-therapy-depression.yaml
  src/data/references/2023-li-depression-parkinsons-disease.yaml
  src/data/references/2024-destatis-depression-kinder-jugendliche.yaml
Due: prettier --write

feat: add McKay reference to cognitive distortions article
  src/data/blog/2025-04-03-die-15-haeufigsten-formen-verzerrten-denkens/index.mdx
  src/data/references/1981-mckay-thoughts-feelings-control.yaml
Due: prettier --write

feat: expand microplastics article with comprehensive scientific references
  src/data/blog/2025-03-28-7-grundlegende-gefahren-von-mikroplastik-fuer-deinegesundheit/index.mdx
  src/data/references/2013-gellrich-pfas-mineral-water.yaml
  src/data/references/2015-bae-bpa-blood-pressure.yaml
  src/data/references/2021-dangelo-microplastics-male-fertility.yaml
  src/data/references/2021-liu-bpa-phthalates-breast-cancer.yaml
  src/data/references/2022-ahern-phthalate-childhood-cancer.yaml
  src/data/references/2022-chen-microplastics-lung-nodules.yaml
  src/data/references/2022-jenner-microplastics-human-lung.yaml
  src/data/references/2022-lu-microplastics-lung-diseases.yaml
  src/data/references/2022-zaheer-microplastic-autism-risk.yaml
  src/data/references/2023-ali-microplastics-tea-bags.yaml
  src/data/references/2024-deng-microplastics-prostate-tumor.yaml
  src/data/references/2024-zurub-microplastics-fertility-pregnancy.yaml
  src/data/references/sciencedaily-bpa-fetal-development-breast-cancer.yaml
Due: prettier --write

feat: add enhanced FeaturedList component with wave decoration and content integration
  eslint.config.js
  src/components/elements/FeaturedList.astro
  src/data/blog/2024-07-05-vergebung-verstehen/index.mdx
  src/data/blog/2025-02-26-von-wegen-negative-gefuehle/index.mdx
Due: eslint --fix, prettier --write

fix: resolve image loading issues in vergebung article with proper imports
  src/data/blog/2024-07-05-vergebung-verstehen/index.mdx
Due: none

feat: expand structured water article with comprehensive electromagnetic research references
  src/components/elements/FeaturedList.astro
  src/data/blog/2024-12-19-strukturiertes-wasser/index.mdx
  src/data/references/2006-ayrapetyan-effects-static-magnetic-fields.yaml
  src/data/references/2014-yamabhai-diverse-biological-effects-electromagnetic-treated-water.yaml
  src/data/references/2015-kaszuba-zwoinsk-electromagnetic-field-biological-effects-humans.yaml
  src/data/references/2015-smith-electromagnetic-magnetic-vector-potential-water.yaml
  src/data/references/2020-elton-exclusion-zone-phenomena-water-critical-review.yaml
  src/data/references/2021-rad-low-frequency-electric-fields-water-structural-changes.yaml
  src/data/references/2022-barnes-thoughts-health-effects-electric-magnetic-fields.yaml
  src/data/references/2022-noble-electromagnetic-bioeffects-molecular-simulation.yaml
  src/data/references/eht-trust-effects-electromagnetic-fields-thirty-years-research.yaml
Due: eslint --fix, prettier --write

feat: complete comprehensive spermidine references migration from WordPress
  src/data/blog/2024-11-04-hoffnungstraeger-spermidin/index.mdx
  src/data/references/2007-zoumas-morse-polyamine-database-dietary-intake.yaml
  src/data/references/2009-deng-spermidine-synthesis-axonal-regeneration.yaml
  src/data/references/2011-atiya-ali-polyamines-food-database.yaml
  src/data/references/2011-mizushima-autophagy-renovation-cells-tissues.yaml
  src/data/references/2012-soda-polyamine-cardiovascular-disease-epidemiological.yaml
  src/data/references/2013-larocca-spermidine-arterial-aging.yaml
  src/data/references/2014-sigrist-spermidine-autophagy-memory-aging.yaml
  src/data/references/2014-wahls-wahls-protocol-book.yaml
  src/data/references/2014-walsh-nutrient-power-book.yaml
  src/data/references/2015-frake-autophagy-neurodegeneration-review.yaml
  src/data/references/2015-madeo-autophagy-life-span-extension.yaml
  src/data/references/2015-noro-spermidine-neurodegeneration-glaucoma.yaml
  src/data/references/2015-noro-spermidine-retinal-ganglion-regeneration.yaml
  src/data/references/2016-gupta-spermidine-memory-impairment-aging.yaml
  src/data/references/2016-michiels-spermidine-atherosclerotic-plaques.yaml
  src/data/references/2016-pietrocola-caloric-restriction-mimetics-immunosurveillance.yaml
  src/data/references/2017-eisenberg-dietary-spermidine-blood-pressure.yaml
  src/data/references/2017-fernandez-autophagy-weight-gain-pancreatic-beta-cell.yaml
  src/data/references/2017-louis-propionate-butyrate-colonic-microbiota.yaml
  src/data/references/2017-rinaldi-spermidine-hair-growth-anagen.yaml
  src/data/references/2018-kiechl-spermidine-mortality-bruneck-study.yaml
  src/data/references/2018-madeo-spermidine-delays-aging-humans.yaml
  src/data/references/2018-sacitharan-spermidine-autophagy-osteoarthritic-chondrocytes.yaml
  src/data/references/2019-canfora-gut-microbial-metabolites-obesity-nafld-t2dm.yaml
  src/data/references/2019-chung-calorie-restriction-autophagy-aging.yaml
  src/data/references/2019-madeo-spermidine-autophagy-inducer-vitamin.yaml
  src/data/references/2019-munoz-esparza-polyamines-food-frontiers.yaml
  src/data/references/2020-ekmekcioglu-nutrition-longevity-mechanisms-uncertainties.yaml
  src/data/references/2020-ma-spermidine-gut-barrier-microbiota.yaml
  src/data/references/2020-madeo-nutritional-aspects-spermidine.yaml
  src/data/references/2020-schwarz-spermidine-cortical-thickness-hippocampal-volume.yaml
  src/data/references/2021-gassen-sars-cov-2-autophagy-spermidine.yaml
  src/data/references/2021-liao-spermidine-metabolic-dysfunction-overnutrition.yaml
  src/data/references/2021-pekar-spermidine-dementia-trial.yaml
  src/data/references/2021-sagar-polyamines-functions-disease-management.yaml
  src/data/references/2021-yuan-spermidine-joints-inflammation-arthritis.yaml
  src/data/references/2023-vrijsen-polyamines-parkinson-disease.yaml
Due: prettier --write

feat: transform References component to collapsible accordion with German UI
  src/components/partials/References.astro
  src/components/sections/Accordion.astro
  src/utils/ui/AccordionEngine.ts
Due: eslint --fix, prettier --write

feat: enhance Astro view transitions with performance optimizations and accessibility
  src/data/blog/2024-04-26-10-strategien-um-negative-gedanken-zu-stoppen/index.mdx
  src/layouts/Layout.astro
  src/styles/global.css
  src/styles/view-transitions.css
  src/utils/viewTransitionEnhancements.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript inference issue in viewTransitionEnhancements
  src/utils/viewTransitionEnhancements.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive modular architecture for view transitions
  src/components/filter/BlogFilter.astro
  src/layouts/Layout.astro
  src/styles/view-transitions.css
  src/utils/viewTransitionEnhancements.ts
  src/utils/viewTransitions/accessibility.ts
  src/utils/viewTransitions/config.ts
  src/utils/viewTransitions/enhancer.ts
  src/utils/viewTransitions/fallback.ts
  src/utils/viewTransitions/index.ts
  src/utils/viewTransitions/init.ts
  src/utils/viewTransitions/metrics.ts
  src/utils/viewTransitions/preloader.ts
Due: eslint --fix, prettier --write

fix: resolve linting issues in modular view transitions
  src/layouts/Layout.astro
  src/utils/viewTransitions/init.ts
  src/utils/viewTransitions/metrics.ts
Due: eslint --fix, prettier --write

fix: add missing ViewTransitionEnhancer import for TypeScript compatibility
  src/utils/viewTransitionEnhancements.ts
Due: eslint --fix, prettier --write

fix: use type-only import for ViewTransitionEnhancer
  src/utils/viewTransitionEnhancements.ts
Due: eslint --fix, prettier --write

fix: combine duplicate imports from viewTransitions module
  src/utils/viewTransitionEnhancements.ts
Due: eslint --fix, prettier --write

fix: remove vt-optimize class from main element to fix navbar layout
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

fix: replace relative image paths with proper imports in Image components
  src/data/blog/2024-04-19-lesenswert-die-1-methode-minimale-veraenderung-maximale-wirkung/index.mdx
  src/data/blog/2024-05-05-top-5-untersuchungen-und-laborwerte-fuer-deinen-gesundheits-tuev/index.mdx
Due: none

fix: complete Image component migration from relative paths to imports
  src/data/blog/2022-02-19-das-schlafhormon-melatonin/index.mdx
  src/data/blog/2022-03-11-mikronaehrstoffraeuber-die-pille/index.mdx
  src/data/blog/2022-05-25-der-teufelskreis-der-saeureblocker/index.mdx
  src/data/blog/2022-09-09-ernaehrungsumstellung/index.mdx
  src/data/blog/2022-11-25-8-superfoods-reloaded/index.mdx
  src/data/blog/2022-11-28-must-have-omega-3/index.mdx
  src/data/blog/2023-01-15-7-warnzeichen-fuer-vitamin-b12-mangel/index.mdx
  src/data/blog/2023-08-24-mikronaehrstoffe-immunsystem-booster/index.mdx
  src/data/blog/2024-01-26-vitamin-c-mangel-die-rueckkehr-des-skorbuts/index.mdx
  src/data/blog/2024-03-15-intermittierendes-fasten/index.mdx
  src/data/blog/2024-03-28-ernahrung-und-stuhlgang/index.mdx
  src/data/blog/2024-06-20-8-anzeichen-fuer-geringen-selbstwert/index.mdx
  src/data/blog/2024-07-17-die-koerperlichkeit-der-depression/index.mdx
  src/data/blog/2025-02-02-bindungstheorie-und-bindungsstile-nach-bowlby-ainsworth/index.mdx
  src/data/blog/2025-02-10-18-warnzeichen-fuer-naehrstoffmangel/index.mdx
Due: none

chore: update dependencies to latest versions
  bun.lock
  package.json
Due: prettier --write

feat: standardize pagination across all pages and improve i18n
  src/components/sections/Pagination.astro
  src/i18n/ui.ts
  src/pages/tags/[tag]/[...page].astro
Due: eslint --fix, prettier --write
