Repository aequinox/gesundes-leben: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: Remove package-lock.json as project uses Bun
  package-lock.json
Due: prettier --write

feat: Add production-grade deployment script and reorganize npm scripts
  docs/DEPLOYMENT.md
  package.json
  scripts/deploy.ts
Due: eslint --fix, prettier --write

chore: Organize imports and fix ESLint errors
  src/components/sections/BottomNav.astro
  src/pages/offline.astro
  src/utils/error-handling/shared.ts
  src/utils/internal-linking.ts
  src/utils/references.ts
  src/utils/seo/__tests__/SchemaBuilder.test.ts
  src/utils/ui/filter/FilterEventHandlers.ts
  src/utils/ui/filter/FilterUI.ts
Due: eslint --fix, prettier --write

fix: Resolve all 29 ESLint errors across codebase
  package-lock.json
  src/components/sections/BottomNav.astro
  src/pages/offline.astro
  src/utils/error-handling/shared.ts
  src/utils/internal-linking.ts
  src/utils/references.ts
  src/utils/seo/SchemaBuilder.ts
  src/utils/seo/__tests__/SchemaBuilder.test.ts
  src/utils/seo/performance-optimization.ts
  src/utils/seo/seo-audit.ts
  src/utils/ui/filter/FilterEventHandlers.ts
  src/utils/ui/filter/FilterUI.ts
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/features/search-interactions.spec.ts
  tests/e2e/integration/edge-cases.spec.ts
  tests/e2e/performance/image-optimization.spec.ts
  tests/matchers/health-matchers.ts
  tests/utils/health-test-helpers.ts
Due: eslint --fix, prettier --write

fix: Resolve critical TypeScript errors in utilities
  src/utils/error-handling/shared.ts
  src/utils/references.ts
Due: eslint --fix, prettier --write

chore: Remove unused dependencies and E2E test files
  bun.lock
  package.json
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/performance/core-web-vitals.spec.ts
  tests/e2e/performance/image-optimization.spec.ts
Due: eslint --fix, prettier --write

chore: Disable PWA functionality temporarily
  astro.config.ts
Due: eslint --fix, prettier --write

fix: Resolve 404 errors on Apache webserver for directory URLs
  astro.config.ts
  public/.htaccess
Due: eslint --fix, prettier --write

docs: Add comprehensive performance improvement plan
  PERFORMANCE-IMPROVEMENT-PLAN.md
Due: prettier --write

feat: Enhance view-transition implementation with centralized naming and improved accessibility
  src/components/elements/Tag.astro
  src/components/partials/ArticleContent.astro
  src/components/partials/ArticleHeader.astro
  src/components/sections/Card.astro
  src/components/sections/GlossaryCard.astro
  src/layouts/Layout.astro
  src/pages/tags/index.astro
  src/utils/viewTransitionNames.ts
Due: eslint --fix, prettier --write

perf: Implement Phase 1 critical performance improvements
  astro.config.ts
  package.json
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

perf: Implement Phase 2 high-priority performance improvements
  src/config.ts
  src/styles/view-transitions.css
Due: eslint --fix, prettier --write

perf: Reduce Node.js memory limits from 8-16GB to 4GB
  package.json
Due: prettier --write

feat: Add performance baseline measurement script
  package.json
  scripts/performance-baseline.js
Due: eslint --fix, prettier --write

feat: Implement smart OG image caching system
  .gitignore
  docs/OG-IMAGE-CACHING.md
  package.json
  scripts/generate-og-images.js
  src/config.ts
  src/pages/posts/[...slug].png.ts
Due: eslint --fix, prettier --write

docs: Update performance plan with completion status and extended optimizations
  PERFORMANCE-IMPROVEMENT-PLAN.md
Due: prettier --write

fix: Resolve CommonJS glob import compatibility issue
  scripts/generate-og-images.js
  scripts/optimize-images.js
  scripts/performance-baseline.js
Due: eslint --fix, prettier --write

fix: Resolve CommonJS glob import compatibility issue
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

chore: Apply image optimization to remaining blog images
  src/data/blog/2022-04-30-vitamin-a/images/kind-bewegung-wasser-spiel-gesunde-entwicklung-outdoor-aktivitaet.jpg
  src/data/blog/2022-06-03-information-overload/images/stress-burnout-kommunikation-psychische-gesundheit-arbeitsplatz.jpg
  src/data/blog/2022-09-16-antivirale-strategien-teil-1/images/corona-pandemie-schutzausruestung-graffiti-street-art.jpg
  src/data/blog/2023-08-01-top-5-darm-und-immunsystemstaerkung/images/cdc-giaa5pyxgdy-unsplash.jpg
  src/data/blog/2023-08-14-top-lebensmittel-fuers-immunsystems/images/ernaehrung-als-medizin-food-is-medicine-gesunde-ernaehrung-heilkraft-lebensmittel.jpg
  src/data/blog/2023-08-14-top-lebensmittel-fuers-immunsystems/images/frischer-kohl-vitamine-gesunde-ernaehrung-gemuese-feld.jpg
  src/data/blog/2023-09-25-lesenswert-systemischer-ratgeber/images/magenbeschwerden-uebelkeit-dehydration-hitzeschlag-erste-hilfe.jpg
  src/data/blog/2024-02-02-stoer-mich-nicht-in-meiner-krise/images/energie-vitalitaet-bewegung-gesundheit-wellness-dynamik.jpg
  src/data/blog/2024-02-02-stoer-mich-nicht-in-meiner-krise/images/vogel-strauß-politik-stress-vermeidungsverhalten-psychische-gesundheit.jpg
  src/data/blog/2024-04-26-10-strategien-um-negative-gedanken-zu-stoppen/images/kopfschmerzen-stress-migraine-informationsueberlastung-psychische-belastung.jpg
  src/data/blog/2024-06-20-8-anzeichen-fuer-geringen-selbstwert/images/falsche-behandlungswege-gesundheitsentscheidungen-kurskorrektur.jpg
  src/data/blog/misc-images/images/accidental-slip-g22f3ae9ef_1920.jpg
  src/data/blog/misc-images/images/ashkan-forouzani-NqFTRkJ_dhU-unsplash-1.jpg
  src/data/blog/misc-images/images/cdc-gIaA5PyXgDY-unsplash.jpg
  src/data/blog/misc-images/images/george-pagan-iii-PeQMW0-vVlU-unsplash.jpg
  src/data/blog/misc-images/images/kaori-kubota-vpEGR9uoKQs-unsplash.jpg
  src/data/blog/misc-images/images/mi-pham-FtZL0r4DZYk-unsplash-1.jpg
  src/data/blog/misc-images/images/nowah-bartscher-MU7AuV9197w-unsplash-scaled-2.jpg
Due: none

fix: Resolve glob import and module resolution issues in OG generation
  package.json
  public/og/index.png
  scripts/generate-og-images.js
  src/utils/og-templates/post-node.js
Due: eslint --fix, prettier --write

perf: Implement lazy loading, font optimization, and component refactoring
  astro.config.ts
  src/components/sections/Card.astro
  src/components/sections/ContentSeries.astro
  src/components/sections/card/CardContent.astro
  src/components/sections/card/CardFooter.astro
  src/components/sections/card/CardImage.astro
  src/components/sections/card/card-styles.css
  src/components/sections/content-series/SeriesItem.astro
  src/components/sections/content-series/SeriesNavigation.astro
  src/components/sections/content-series/SeriesProgress.astro
  src/components/sections/content-series/series-styles.css
  src/layouts/Layout.astro
  src/styles/fonts.css
  src/styles/global.css
  src/utils/load-view-transitions.ts
  src/utils/seriesConfig.ts
Due: eslint --fix, prettier --write

perf: Refactor BlogFilter.astro for better maintainability
  src/components/filter/BlogFilter.astro
  src/components/filter/blog-filter/CategoryFilter.astro
  src/components/filter/blog-filter/FilterResults.astro
  src/components/filter/blog-filter/GroupSelector.astro
  src/components/filter/blog-filter/NoResults.astro
  src/components/filter/blog-filter/filter-styles.css
  src/utils/filterConfig.ts
Due: eslint --fix, prettier --write

feat: Split translation files and add image size pre-commit hook
  .husky/pre-commit
  src/i18n/languages/de.ts
  src/i18n/languages/en.ts
  src/i18n/ui.ts
Due: eslint --fix, prettier --write

feat: Add all missing Tabler icons to astro.config.ts
  astro.config.ts
Due: eslint --fix, prettier --write

docs: Update CLAUDE.md with performance patterns and component refactoring examples
  CLAUDE.md
Due: prettier --write

feat: Add complete set of Tabler icons to astro.config.ts
  astro.config.ts
Due: eslint --fix, prettier --write

chore: Exclude e2e tests from TypeScript compilation
  tsconfig.json
Due: prettier --write

chore: Remove unused utils/index.ts barrel export file
  src/utils/index.ts
Due: eslint --fix, prettier --write

chore: Optimize blog images and update Husky configuration
  .husky/pre-commit
  src/data/blog/2022-04-30-vitamin-a/images/kind-bewegung-wasser-spiel-gesunde-entwicklung-outdoor-aktivitaet.jpg
  src/data/blog/2022-04-30-vitamin-a/images/kind-bewegung-wasser-spiel-gesunde-entwicklung-outdoor-aktivitaet.jpg.backup
  src/data/blog/2022-06-03-information-overload/images/stress-burnout-kommunikation-psychische-gesundheit-arbeitsplatz.jpg
  src/data/blog/2022-06-03-information-overload/images/stress-burnout-kommunikation-psychische-gesundheit-arbeitsplatz.jpg.backup
  src/data/blog/2022-09-16-antivirale-strategien-teil-1/images/corona-pandemie-schutzausruestung-graffiti-street-art.jpg
  src/data/blog/2022-09-16-antivirale-strategien-teil-1/images/corona-pandemie-schutzausruestung-graffiti-street-art.jpg.backup
  src/data/blog/2023-08-01-top-5-darm-und-immunsystemstaerkung/images/cdc-giaa5pyxgdy-unsplash.jpg
  src/data/blog/2023-08-01-top-5-darm-und-immunsystemstaerkung/images/cdc-giaa5pyxgdy-unsplash.jpg.backup
  src/data/blog/2023-08-14-top-lebensmittel-fuers-immunsystems/images/ernaehrung-als-medizin-food-is-medicine-gesunde-ernaehrung-heilkraft-lebensmittel.jpg
  src/data/blog/2023-08-14-top-lebensmittel-fuers-immunsystems/images/ernaehrung-als-medizin-food-is-medicine-gesunde-ernaehrung-heilkraft-lebensmittel.jpg.backup
  src/data/blog/2023-08-14-top-lebensmittel-fuers-immunsystems/images/frischer-kohl-vitamine-gesunde-ernaehrung-gemuese-feld.jpg
  src/data/blog/2023-08-14-top-lebensmittel-fuers-immunsystems/images/frischer-kohl-vitamine-gesunde-ernaehrung-gemuese-feld.jpg.backup
  src/data/blog/2023-09-25-lesenswert-systemischer-ratgeber/images/magenbeschwerden-uebelkeit-dehydration-hitzeschlag-erste-hilfe.jpg
  src/data/blog/2023-09-25-lesenswert-systemischer-ratgeber/images/magenbeschwerden-uebelkeit-dehydration-hitzeschlag-erste-hilfe.jpg.backup
  src/data/blog/2024-02-02-stoer-mich-nicht-in-meiner-krise/images/energie-vitalitaet-bewegung-gesundheit-wellness-dynamik.jpg
  src/data/blog/2024-02-02-stoer-mich-nicht-in-meiner-krise/images/energie-vitalitaet-bewegung-gesundheit-wellness-dynamik.jpg.backup
  src/data/blog/2024-02-02-stoer-mich-nicht-in-meiner-krise/images/vogel-strauß-politik-stress-vermeidungsverhalten-psychische-gesundheit.jpg
  src/data/blog/2024-02-02-stoer-mich-nicht-in-meiner-krise/images/vogel-strauß-politik-stress-vermeidungsverhalten-psychische-gesundheit.jpg.backup
  src/data/blog/2024-04-26-10-strategien-um-negative-gedanken-zu-stoppen/images/kopfschmerzen-stress-migraine-informationsueberlastung-psychische-belastung.jpg
  src/data/blog/2024-04-26-10-strategien-um-negative-gedanken-zu-stoppen/images/kopfschmerzen-stress-migraine-informationsueberlastung-psychische-belastung.jpg.backup
  src/data/blog/2024-06-20-8-anzeichen-fuer-geringen-selbstwert/images/falsche-behandlungswege-gesundheitsentscheidungen-kurskorrektur.jpg
  src/data/blog/2024-06-20-8-anzeichen-fuer-geringen-selbstwert/images/falsche-behandlungswege-gesundheitsentscheidungen-kurskorrektur.jpg.backup
  src/data/blog/misc-images/images/accidental-slip-g22f3ae9ef_1920.jpg
  src/data/blog/misc-images/images/accidental-slip-g22f3ae9ef_1920.jpg.backup
  src/data/blog/misc-images/images/ashkan-forouzani-NqFTRkJ_dhU-unsplash-1.jpg
  src/data/blog/misc-images/images/ashkan-forouzani-NqFTRkJ_dhU-unsplash-1.jpg.backup
  src/data/blog/misc-images/images/cdc-gIaA5PyXgDY-unsplash.jpg.backup
  src/data/blog/misc-images/images/george-pagan-iii-PeQMW0-vVlU-unsplash.jpg
  src/data/blog/misc-images/images/george-pagan-iii-PeQMW0-vVlU-unsplash.jpg.backup
  src/data/blog/misc-images/images/kaori-kubota-vpEGR9uoKQs-unsplash.jpg
  src/data/blog/misc-images/images/kaori-kubota-vpEGR9uoKQs-unsplash.jpg.backup
  src/data/blog/misc-images/images/mi-pham-FtZL0r4DZYk-unsplash-1.jpg
  src/data/blog/misc-images/images/mi-pham-FtZL0r4DZYk-unsplash-1.jpg.backup
  src/data/blog/misc-images/images/nowah-bartscher-MU7AuV9197w-unsplash-scaled-2.jpg
  src/data/blog/misc-images/images/nowah-bartscher-MU7AuV9197w-unsplash-scaled-2.jpg.backup
Due: none

chore: Lower image optimization quality to 70 for better compression
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

refactor: Improve type safety and code quality
  src/components/BackButton.astro
  src/content.config.ts
  src/plugins/remarkPlugins/sectionize.ts
  src/types/global.d.ts
  src/utils/postFilter.ts
  src/utils/references.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive component documentation and improve maintainability
  src/components/Pagination.astro
  src/components/README.md
  src/components/ShareLinks.astro
  src/components/elements/Badge.astro
  src/components/elements/H.astro
  src/components/elements/H1.astro
  src/components/elements/H2.astro
  src/components/elements/H3.astro
  src/components/elements/H4.astro
  src/components/elements/H5.astro
  src/components/elements/H6.astro
  src/components/types/group.ts
  src/components/types/index.ts
  src/utils/README.md
Due: eslint --fix, prettier --write

fix: Resolve critical errors and improve font loading
  public/.htaccess
  src/components/filter/BlogFilter.astro
  src/components/partials/ArticleSidebar.astro
  src/layouts/Layout.astro
  src/utils/authors.ts
Due: eslint --fix, prettier --write

perf: Add compression and optimize build configuration for faster performance
  astro.config.ts
  bun.lock
  package.json
Due: eslint --fix, prettier --write

docs: Add documentation to additional UI components
  src/components/elements/Hr.astro
  src/components/elements/Icon.astro
  src/components/elements/Paragraph.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,astro}
  prettier --write: (any of: *.{ts,js,astro}) or (any of: *.{md,json,yaml,yml})
